<div class="params">
  <div class="approval" >
    <p>Approval Period: </p>
    <mat-select class="period">
      <mat-option (click)="stateTrue()" value="option1">1 week</mat-option>
      <mat-option (click)="stateTrue()" value="option2">2 week</mat-option>
      <mat-option (click)="stateTrue()" value="option3">1 month</mat-option>
      <mat-option (click)="stateFalse()" value="option4">I don’t need approvals</mat-option>
    </mat-select>
    <mat-slide-toggle [ngClass]="{approvalfalse: flag}">Submit Time Logs automatically in the end of period</mat-slide-toggle>
  </div>
  <div class="approval" [ngClass]="{approvalfalse: flag}">
    <p>Notify about difference between expected and actual time: </p>
    <mat-checkbox> ≤ <input type="text"> %
      <mat-select class="select">
        <mat-option value="option1">error</mat-option>
        <mat-option value="option2">warn</mat-option>
      </mat-select>
    </mat-checkbox>
    <mat-checkbox> ≥ <input type="text"> %
      <mat-select  class="select">
        <mat-option value="opt1">error</mat-option>
        <mat-option value="opt2">warn</mat-option>
      </mat-select>
    </mat-checkbox>
  </div>

  <div class="approval" [ngClass]="{approvalfalse: flag}">
    <mat-slide-toggle> Ability to forget timesheets</mat-slide-toggle>
  </div>

</div>
