.params
  display: flex
.approval
  margin-top: -10px
  padding: 0 20px 0 20px
  display: flex
  flex-direction: column





.mat-checkbox, .mat-slide-toggle
  margin-top: 5px

.approvalfalse
  pointer-events: none
  color: #6A707E
input
  border: 0
  border-bottom: 1px solid gray
  font-size: 13px
  width: 20px
.period
  padding: 5px 0
  margin: 5px 0
  border-bottom: 1px solid gray
  width: 133px
.select
  margin: 0 10px
  padding: 2px 0
  border-bottom: 1px solid gray
  width: 60px

