<div class="inline" *ngIf="toggleFlag__; else elseBlock__">

  <h3>Connected integrations: </h3>
  <div class="logo settings" *ngFor="let item of items__connected">
    <div class="icon" [ngStyle]="{'background': item.background}">
      <i class="material-icons">settings</i>
    </div>
  </div>
  <i (click)=updown__() class="material-icons">keyboard_arrow_down</i>
</div>

<ng-template #elseBlock__>
  <div class="inline">
    <h3>Connected integrations: </h3>
    <div class="logo settings" *ngFor="let item of items__connected">
      <div class="icon" [ngStyle]="{'background': item.background}" routerLink="/{{item.route}}">
        <i class="material-icons">settings</i>
      </div>
    </div>
    <i (click)=updown__() class="material-icons">keyboard_arrow_up</i>
  </div>
  <div *ngIf="toggleFlag; else elseBlock">
    <div (click)=updown() class="add_new">
      <p>Add new </p>
      <i class="material-icons">keyboard_arrow_down</i>
     </div>
  </div>
  <ng-template #elseBlock>
      <div>
        <div (click)= updown() class="add_new">
          <p>Add new </p>
          <i class="material-icons">keyboard_arrow_up</i>
        </div>
        <div class="integrations__add" >
          <div class="logo" *ngFor="let item of items__add">
            <div class="icon" [ngStyle]="{'background': item.background}" (click)="add(item)">
              <i class="material-icons">add</i>
            </div>
          </div>
        </div>
      </div>


    </ng-template>
</ng-template>
