<app-block>
  <app-container class="width">
    <div class="box">
      <input type="text">
      <button>Save</button>
    </div>
    <app-company-properties></app-company-properties>
  </app-container>

  <app-container class="width">
    <h3>Approval Period: </h3>
    <app-approval-period></app-approval-period>
  </app-container>

  <div  class="comment">
    <app-container class="comments">
      <h3>Comments: </h3>
      <app-comments></app-comments>
    </app-container>

    <app-container class="integrations">

      <app-integrations></app-integrations>
    </app-container>
  </div>
</app-block>


