<app-block>
  <app-container class="width">
    <div class="box">
      <input id="name" type="text" [(ngModel)]="companySettings.name">
      <button (click)="save()">Save</button>
    </div>
    <app-company-properties [company]="companySettings"
    ></app-company-properties>
  </app-container>

  <app-container class="width">
    <h3>Approval Period: </h3>
    <app-approval-period [company]="companySettings"
    ></app-approval-period>
  </app-container>

  <div  class="comment">
    <app-container class="comments">
      <h3>Comments: </h3>
      <app-comments [company]="companySettings"
      ></app-comments>
    </app-container>

    <app-container class="integrations">
      <app-integrations [object]="companySettings"
      ></app-integrations>
    </app-container>
  </div>
</app-block>


