<app-block>
  <div class="progress__width">
    <app-container >
      <app-progress
        [name]="project.name"
        [code] ="project.code"
        [color] = "project.color"
        [status]="project.status"
        [projectType]="project.projectType"
        [startDate]="project.startDate"
        [endDate]="project.endDate"
        [progressBar]="project.progressBar"
      ></app-progress>
    </app-container>
  </div>
  <div class="inline">
    <div class="integrations">
      <app-container >
        <h3>Team:</h3>
        <app-table
          [editTable] = false
          [headShow] = false
          [timelogs] = false
          [data] = 'employeeProjects'

        ></app-table>
      </app-container>
      <app-container>
        <app-integrations></app-integrations>
      </app-container>
    </div>

    <div class="bar-chart__width">
      <app-container >
        <app-bar-chart
          [bar] = 'project.yearsWorkload'
        ></app-bar-chart>
      </app-container>
      <app-container >
        <app-export [name]='project.name'></app-export>
      </app-container>
    </div>

  </div>

</app-block>
