<app-block let="employee">
  <app-container >
    <div class="box">
      <div mat-card-avatar class = "box__photo" [ngStyle]="{'background-image': 'url(' + employee.photoUrl + ')'}">
      </div>
      <div>
        <div class="inline">
          <h1>{{employee.name}}</h1>
          <div class="buttons">
            <button (click)="changeDeactivatePopupCondition()">Deactivate</button>
            <button (click)="save()">Save</button>
          </div>

        </div>
        <div class="inline">
          <div class="information">
            <div>
              <select [(ngModel)]="employee.role">
                <option [value]="role"*ngFor="let role of roles">{{role}}</option>
              </select>
              <i (click)="open_information()" class="material-icons">help_outline</i>
              <ng-template [ngIf]="toggleFlag">
                <div  class="information_about_role">
                  <h3>Owner</h3>
                  <p>Can do everything in the system: manage users, projects and company settings.</p>
                  <h3>Admin</h3>
                  <p>Can manage users: invite, deactivate users, change roles, workload on projects.</p>
                  <h3>Project Manager</h3>
                  <p>Has rights to manage projects, where he is assigned as Project Manager and manage users on his projects.</p>
                  <h3>HR Manager</h3>
                  <p>HR Manager is able to invite new users and manage projects.</p>
                  <h3>Employee</h3>
                  <p>Only fills his timesheet and is able to edit his profile info, including reports export from his timesheet.</p>
                </div>
              </ng-template>
            </div>
            <p>Workload: <input [(ngModel)]="employee.workload"> h/week</p>
            <p class="gray">{{employee.email}}</p>
            <p class="gray">{{employee.phone}}</p>
          </div>
          <div class="table_projects">
            <h3>Projects: </h3>
            <app-table
              [editTable] = true
              [timelogs] = false
              [profileBD] = true
              [data] = 'employeeProjects'></app-table>
          </div>
        </div>
      </div>
    </div>
  </app-container>

  <app-container class="bar_chart">
    <app-bar-chart [bar] = 'employee.yearsWorkload'></app-bar-chart>
  </app-container>

  <app-container class="for_approval" *ngFor="let timesheet of timesheetsPendingApproval">
    <div class="inline">
      <div>
        <h3>Pending for Approval: {{timesheet.period}} </h3>
        <app-table
          [editTable] = false
          [timelogs] = 'true'
          [profileBD] = true
          [data] = 'timesheet.logs'></app-table>
      </div>
      <div class="donut_chart_and_buttons">
        <app-donut-chart
          [dataDonutChart] = 'timesheet.timesheetWorkload'
        ></app-donut-chart>
        <app-approve-reject-forget></app-approve-reject-forget>
      </div>
    </div>
  </app-container>

  <div class="box">
    <app-container class="notification_preferences">
      <app-export [name]='employee.name'
                  [profile]=true></app-export>
    </app-container>
  </div>
</app-block>
