





.box
  display: flex
.bar_chart
  width: 1020px

.box__photo
  width: 126px
  height: 126px
  background-size: cover
.information
  margin: -15px 20px 0px
  p
    padding-bottom: 10px
.gray
  color: #8C8C8C
.table_projects
  margin-left: 130px



.inline
  display: flex

.table
  width: 470px

.donut_chart
  width: 305px
  margin-left: auto
.for_approval
  width: 1025px
.notification_preferences
  width: 666px
h3, p, a
  margin-left: 10px
.buttons
  display: flex
  margin-left: auto
button
  cursor: pointer
  font-family: 'Poppins', sans-serif
  font-style: normal
  font-weight: 500
  font-size: 11px
  line-height: normal
  text-align: center
  color: #6A707E
  border: 1px solid #109CF1
  border-radius: 1px
  padding: 3px 20px
  background: none
button:hover
  color: #ffffff
  background: #109CF1
button:focus
  color: #ffffff
  background: #109CF1
input, select
  background: none
  border: none
  border-bottom: 1px solid #6A707E
  margin-right: 10px
