<app-block>
  <app-head class="table" (change)="updateTimelogs($event)"></app-head>
  <div class="inline">
    <app-container class="table">
      <app-table-for-day
        [editTable]=true
        [data]="logs[1]"></app-table-for-day>
      <app-table
        [editTable] = true
        [profileBD] = false
        [timelogs] = '"day"'
        [data] = 'logs[1]' ></app-table>
    </app-container>
    <app-container class="chart">
      <app-donut-chart [dataDonutChart]=""></app-donut-chart>
    </app-container>
  </div>

</app-block>




