<app-block>
  <div class="employees-header">
    <div class="buttons">
      <button (click)="filter('active')">Active</button>
      <button (click)="filter('deactivated')">Deactivated</button>
      <button (click)="filter('pending')">Pending</button>
    </div>
    <div class="invite">
      <span>Invite user:</span>
      <input type="text" id="email" placeholder="alex@timesheet.com">
      <div class="select">
        <select name="" class="statuses__select" [(ngModel)]='roleOption'>
          <option [value]='role' *ngFor='let role of roles'>{{role}}</option>
        </select>
      </div>
      <button (click)="inviteEmployee()">Invite</button>
    </div>
  </div>
  <app-container class="table">

    <mat-form-field>
      <input matInput (keyup)="searchTerm$.next($event.target.value)" placeholder="Search for a employee">
    </mat-form-field>
    <table mat-table [dataSource]="employees" class="mat-elevation-z8">

      <ng-container matColumnDef="photo">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="(element.photoUrl.length > 7)" class="circle circle__main" [ngStyle]="{'background-image': 'url(' + element.photoUrl + ')'}"></div>
          <div *ngIf="(element.photoUrl.length <= 7)" class="circle circle__main" [ngStyle]="{'background': 'linear-gradient(to top left, white, ' + element.photoUrl + ')'}">
            <p>{{element.name[0]}}</p></div>
        </td>
      </ng-container>

      <!— Name —>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element" routerLink='/employees/{{element.name}}'> {{element.name}} </td>
      </ng-container>

      <!— role —>
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Role </th>
        <td mat-cell *matCellDef="let element" >{{element.role}} </td>
      </ng-container>

      <ng-container matColumnDef="role_select">
        <th mat-header-cell *matHeaderCellDef> Role </th>
        <td mat-cell *matCellDef="let element" >
          <select name="" class="statuses__select" [(ngModel)]='element.role' (ngModelChange)='changeRole(element)'>
            <option [value]='role' *ngFor='let role of roles'>{{role}}</option>
          </select>
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> E-mail</th>
        <td mat-cell *matCellDef="let element" >{{element.email}} </td>
      </ng-container>

      <!— Planned / Actual (hours per week) —>
      <ng-container matColumnDef="planned_actual">
        <th mat-header-cell *matHeaderCellDef> Planned / Actual (hours per week) </th>
        <td mat-cell *matCellDef="let element" >
          <app-progress-bars
            [color] = 'checkValue(element.planned, element.actual)'
            [planned] = 'element.planned'
            [actual] = 'element.actual'
          ></app-progress-bars></td>
      </ng-container>

      <!— Pending Approval —>
      <ng-container matColumnDef="pending_approval">
        <th mat-header-cell *matHeaderCellDef> Pending Approval </th>
        <td mat-cell *matCellDef="let element">
          <app-pending-approval
            [value] = 'element.pendingApprovalTimesheets'
          >
          </app-pending-approval>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
    </table>
  </app-container>
  <button class="load-more__button" (click)="loadMore()" *ngIf='loadMoreState'>Load more</button>
</app-block>



