<div class="menu-link company-link">
  <a routerLink = '/company-settings'><i class="material-icons">business</i>Company settings</a>
</div>
<div class="menu-link">
  <a routerLink="/profile"><i class="material-icons">perm_identity</i>Profile</a>
</div>
<div class="menu-link">
  <a routerLink="/projects"><i class="material-icons">work_outline</i>Projects</a>
</div>
<div class="menu-link">
  <a routerLink='/employees'><i class="material-icons">supervisor_account</i>Employees</a>
</div>
<div class="menu-link">
  <a routerLink="/timelog-day"><i class="material-icons">schedule</i>Time Logs</a>
</div>

<!--
<div class="menu-link">
  <a href="#"><i class="material-icons">dashboard</i>Dashboard</a>
</div>
<div class="menu-link">
  <a href="#"><i class="material-icons">table_chart</i>Reports</a>
</div>
<div class="menu-link">
  <a href="#"><i class="material-icons">pie_chart</i>Timesheets</a>
</div>
-->
