<div class="menu-link company-link">
  <a routerLink = '/company-settings' routerLinkActive="active"><i class="material-icons">business</i>Company settings</a>
</div>
<div class="menu-link">
  <a routerLink="/profile" routerLinkActive="active"><i class="material-icons">perm_identity</i>Profile</a>
</div>
<div class="menu-link">
  <a routerLink="/projects" routerLinkActive="active"><i class="material-icons">work_outline</i>Projects</a>
</div>
<div class="menu-link">
  <a routerLink='/employees' routerLinkActive="active"><i class="material-icons">supervisor_account</i>Employees</a>
</div>
<div class="menu-link">
  <a routerLink="/timelog-day" routerLinkActive="active"><i class="material-icons">schedule</i>Time Logs</a>
</div>
<div class="menu-link">
  <a routerLink="/approvals" routerLinkActive="active"><i class="material-icons">dashboard</i>Approvals</a>
</div>

<!--
<div class="menu-link">
  <a href="#"><i class="material-icons">dashboard</i>Dashboard</a>
</div>
<div class="menu-link">
  <a href="#"><i class="material-icons">table_chart</i>Reports</a>
</div>
<div class="menu-link">
  <a href="#"><i class="material-icons">pie_chart</i>Timesheets</a>
</div>
-->
