<div class="sign">
  <div class="sign__image">
  </div>
  <div class="sign__form_container">
    <h1 class="sign__form_name">Set new <br>password</h1>
    <form [formGroup]="signForm" novalidate class="sign__form">
      <div class="alert-danger"
        *ngIf="signForm.controls['passwordControl'].invalid && signForm.controls['passwordControl'].touched">
        invalid password
      </div>
      <input type="password" placeholder="Set new password" formControlName='passwordControl' class="sign__form_input">
      <div>
        <button class='sign__form_button' type="submit" routerLink="/sign-in">Set new password</button>
      </div>
    </form>
  </div>
</div>

