<div class="employees-header">
  <div *ngIf="(router === 'timelog-day')" class="data">
    <i class="material-icons" (click)="prevDate()">chevron_left</i>
    <p>{{date}}</p>
    <i class="material-icons" (click)="nextDate()">chevron_right</i>
  </div>
  <div class="data" *ngIf="(router === 'timelog-week')">
    <div class="inline">

      <mat-form-field class="matDatepicker">
        <input matInput [matDatepicker]="picker" (dateInput)="inputEvent($event)" (dateChange)="inputEvent($event)" placeholder="Select period" >
        <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
        <mat-datepicker #picker ></mat-datepicker>
      </mat-form-field>

      <p><u>{{period}}</u></p>

    </div>
  </div>
  <div class="buttons">
    <button routerLinkActive="active" routerLink="/timelog-day">Day</button>
    <button routerLinkActive="active" routerLink="/timelog-week">Week</button>
  </div>
  <div *ngIf="toggleFlag; else elseBlock">
    <button (click) = time() class="button__save">Save</button>
  </div>
  <ng-template #elseBlock>
    <button (click) = time() class="button_save_time">Save at {{timeNow}}</button>
  </ng-template>
</div>

