<app-block>
  <div class="employees-header">
    <div class="data">
      <div class="inline">

        <mat-form-field class="matDatepicker">
          <input matInput [matDatepicker]="picker" (dateInput)="inputEvent($event.value)" (dateChange)="inputEvent($event.value)" placeholder="Select period" >
          <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
          <mat-datepicker #picker ></mat-datepicker>
        </mat-form-field>

        <p><u>{{period}}</u></p>

      </div>
    </div>
    <div class="buttons">
      <button routerLinkActive="active" routerLink="/timelog-day">Day</button>
      <button routerLinkActive="active" routerLink="/timelog-week">Week</button>
    </div>
    <div *ngIf="toggleFlag; else elseBlock">
      <button (click) = time() class="button__save">Save</button>
    </div>
    <ng-template #elseBlock>
      <button (click) = time() class="button_save_time">Save at {{timeNow}}</button>
    </ng-template>
  </div>
  <div class="inline">
    <app-container class="table">
      <app-table-for-week (changeDonutChart)="changeDonutChart($event)"
        [editTable] = true
        [data] = 'logs[0][1]' ></app-table-for-week>
    </app-container>
    <app-container class="chart">
      <app-donut-chart [dataDonutChart]="dataDonut"></app-donut-chart>
    </app-container>
  </div>

</app-block>
