<div class="params">
  <div class="box">
    <p>Company activities: </p>
    <mat-checkbox>Vacation</mat-checkbox>
    <mat-checkbox>Sick Leave</mat-checkbox>
    <mat-checkbox>Business Trip</mat-checkbox>
  </div>
  <div class="box">
    <p>Default Projects: </p>
    <mat-select >
      <mat-option value="option1">Choose project</mat-option>
    </mat-select>
    <mat-select >
      <mat-option value="option1">Choose project</mat-option>
    </mat-select>
  </div>
  <div class="box">
    <p>Start week from: </p>
    <mat-radio-button>Sunday</mat-radio-button>
    <mat-radio-button>Monday</mat-radio-button>
  </div>
  <div class="box">
    <p>Default Workload: </p>
  </div>
</div>
