<p *ngIf='totalState' class="progress-bar_currently" [ngStyle]="{'margin-left': expectedValue/total*100-40 + '%', 'width': width}">Currently spent: {{expectedValue}} h</p>
<div class="progress-bar" [ngStyle]="{'border': '1px solid ' + color, 'height': height + 'px'}">
  <div
    class="progress-bar_real-value"
    [ngStyle]="{'background': color, 'width': realValue/total*100 + '%', 'height': height + 'px'}">
  </div>
  <div
    class="progress-bar_expected-value"
    [ngStyle]="{'background': color, 'width': expectedValue/total*100 + '%', 'height': height + 'px', 'margin-top': -height + 'px'}">
  </div>
  <p class="total" *ngIf='totalState'>Total: {{total}}h</p>
</div>
<p *ngIf='totalState' class="progress-bar_expected" [ngStyle]="{'margin-left': realValue/total*100-12 + '%', 'width': width}">Expected: {{realValue}} h</p>
