<div class="logo">
  <div class="logo-img"></div>
  <h3>Mifort Timesheet</h3>
</div>
<mat-card>
  <div class="profile-inf">
    <div *ngIf="(photo.length > 7)" mat-card-avatar class="profile-photo" [ngStyle]="{'background-image': 'url(' + photo + ')'}"></div>
    <div *ngIf="(photo.length <= 7)" mat-card-avatar class="profile-photo" [ngStyle]="{'background': 'linear-gradient(to top left, white, ' + photo + ')'}">
      <p>{{userName[0]}}</p></div>
    <div>
      <mat-card-title>{{userName}}</mat-card-title>
      <select name="" class="profile-inf__select" [(ngModel)]='companyOption' (ngModelChange)='changeProject()'>
        <option [value]='company' *ngFor='let company of companies'>{{company}}</option>
        <option [value]='"createCompany"' routerLink="/company-settings">+ Create company</option>
      </select>
    </div>
  </div>
</mat-card>
