<app-block let="employee">
    <app-container >
    <div class="box">
      <div mat-card-avatar class = "box__photo" [ngStyle]="{'background-image': 'url(' + employee.photoUrl + ')'}">
      </div>
      <div class="information">
        <h1>{{employee.name}}</h1>
        <p>Role: {{employee.role}}</p>
        <p>Workload: {{employee.workload}} h/week</p>
        <p class="gray">{{employee.email}}</p>
        <p class="gray">{{employee.phone}}</p>
      </div>
      <div class="table_projects">
        <h3>Projects: </h3>
          <app-table
            [workload] = 'employee.workload'
            [editTable] = false
            [timelogs] = false
            [profileBD] = true
            [data] = 'employeeProjects'></app-table>
      </div>
    </div>
  </app-container>

    <app-container class="bar_chart">
      <app-bar-chart [bar] = 'employee.yearsWorkload'></app-bar-chart>
    </app-container>

  <app-container class="for_approval" *ngFor="let timesheet of timesheetsPendingApproval">
      <div class="inline">
        <div>
          <h3>Pending for Approval: {{timesheet.period}} </h3>
          <app-table
            [editTable] = false
            [profileBD] = true
            [timelogs] = true
            [data] = 'timesheet.logs'></app-table>
        </div>
        <div class="donut_chart">
          <app-donut-chart
            [dataDonutChart] = 'timesheet.timesheetWorkload'
          ></app-donut-chart>
        </div>
      </div>
  </app-container>



  <div class="box">
    <app-container class="notification_preferences">
      <app-notification-preferences></app-notification-preferences>
    </app-container>
  </div>
</app-block>
