<div class="sign">
    <div class="sign__image">
    </div>
    <div class="sign__form_container">
      <h1 class="sign__form_name">Sign In</h1>
      <button class="sign__button_google" (click)="socialSignIn()" >
        <img src="assets/image/new-google-favicon-512.png" alt="">
        <p>Sign In With Google</p>
      </button>
      <form [formGroup]="signForm" novalidate class="sign__form" (ngSubmit)="submit()">
          <div class="alert-danger"
            *ngIf="signForm.controls['fullNameControl'].invalid && signForm.controls['fullNameControl'].touched">
            invalid name
          </div>
          <input type="text" placeholder="Full Name" formControlName='fullNameControl' class="sign__form_input">
          <div class="alert-danger"
            *ngIf="signForm.controls['passwordControl'].invalid && signForm.controls['passwordControl'].touched">
            invalid password
          </div>
          <a routerLink="/restore-password" class="sign__form_forgot-password">Forgot password?</a>
          <input type="password" placeholder="Password" formControlName='passwordControl' class="sign__form_input">
          <button class='sign__form_button' type="submit" routerLink="/">Sign In</button>
        </form>
      <p class="sign__form_sign-in">I don’t have account <a routerLink="/sign-up">Sign Up</a></p>
    </div>
  </div>
