<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Color Column -->
  <ng-container matColumnDef="color">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element"> <div class="tbody__circle" [ngStyle]="{'background': element.color }"></div> </td>
    <td mat-footer-cell *matFooterCellDef> <div class="tfoot__circle" ></div> </td>
  </ng-container>

  <!-- Project Column -->
  <ng-container matColumnDef="project">
    <th mat-header-cell *matHeaderCellDef> Project </th>
    <td mat-cell *matCellDef="let element">
      <select [(ngModel)]="element.projectName">
         <option [value]="project" *ngFor="let project of projects">{{project}}</option>
       </select>
    </td>
    <td mat-footer-cell *matFooterCellDef>
      <select name="" class="table__select" [(ngModel)]='option1' (ngModelChange)='customFunction()'>
        <option [value]="'chooseProject'" [selected] = "selected">Choose project</option>
        <option [value]="project" *ngFor='let project of projects; let i = index'>{{project}}</option>
      </select></td>
  </ng-container>

  <!-- Time Column -->
  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef> Time </th>
    <td mat-cell *matCellDef="let element">
      <input type="number" [(ngModel)]="element.time" [readonly]="!editTable" (input)="changeInput($event.target.value, element.id)">
    </td>
    <td mat-footer-cell *matFooterCellDef>
      <input type="number" placeholder="0">
    </td>
  </ng-container>

  <!-- Comment Column -->
  <ng-container matColumnDef="comment">
    <th mat-header-cell *matHeaderCellDef> Comment </th>
    <td mat-cell *matCellDef="let element">
      <input type="text" [(ngModel)]="element.comment" [readonly]="!editTable">
    </td>
    <td mat-footer-cell *matFooterCellDef>
      <input type="text" placeholder="...">
    </td>
  </ng-container>

  <!-- X Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element">
      <i class="material-icons" (click)='delete(element)'>clear</i>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <!-- Total column -->
  <ng-container matColumnDef="total">
    <td mat-footer-cell *matFooterCellDef colspan="2">Total:</td>
  </ng-container>

  <!-- Total number column -->
  <ng-container matColumnDef="number">
    <td mat-footer-cell *matFooterCellDef>{{getTotalCost()}}</td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  <tr mat-footer-row *matFooterRowDef="['total', 'number']"></tr>
</table>
