select, input
  border: none
.tbody__circle
  border-radius: 50%
  width: 20px
  height: 20px

.tfoot__circle
  border: 3px solid #8C8C8C
  border-radius: 50%
  width: 14px
  height: 14px

input[type="number"]
  width: 35px


table
  background: none
  width: 100%
  box-shadow: none
  td
    border-top: 1px solid rgba(0, 0, 0, 0.12)
    border-bottom-style: none
  th
    border-bottom-style: none
  div
    margin-right: 10px
  i
    font-size: 13px
    margin-left: 10px

.table__select
  border: none
  outline: none
  cursor: pointer
  font-family: Poppins, sans-serif
  font-size: 15px
  color: #707683

