table, .table__select
  font-family: Poppins, sans-serif
  font-size: 15px
  color: #707683
.tbody__circle
  border-radius: 50%
  width: 20px
  height: 20px
tr:before
  content: ' '
thead
  tr
    box-shadow: none
    cursor: default
.tfoot__circle
  border: 3px solid #8C8C8C
  border-radius: 50%
  width: 14px
  height: 14px
.table__select
  border: none
  outline: none
  cursor: pointer
input
  border: none
  outline: none
  width: 30px
.input_table
  width: 150px