<table [ngClass]="timelogs?'table-timelogs':'table-projects'">
  <thead *ngIf="timelogs">
    <tr>
      <td *ngFor='let headerCell of headers'>{{headerCell}}</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let tbodyRow of data; let i = index' id="{{i}}">
      <td class="circle"><div class="tbody__circle" [ngStyle]="{'background': tbodyRow.color }"></div></td>
      <td>
        <ng-template [ngIf]="!editTable && !timelogs">
          <input type="text" [(ngModel)]="tbodyRow.name" readonly class="project">
        </ng-template>
        <ng-template [ngIf]="editTable && !timelogs">
          <div class="select" *ngIf="editTable">
              <select name="" [(ngModel)]="tbodyRow.name" class="statuses__select project">
                <option [value]='project' *ngFor='let project of projects'>{{project}}</option>
              </select>
          </div>
        </ng-template>
        <ng-template [ngIf]="timelogs">
          <input type="text"  [(ngModel)]="tbodyRow.comment" class="comment" [readonly]="!editTable">
        </ng-template>
      </td>
      <ng-template [ngIf]="!timelogs">
      <td>
        <ng-template [ngIf]="!editTable && !timelogs">
          <input type="text" [(ngModel)]="tbodyRow.role" class="role" readonly>
        </ng-template>
        <ng-template [ngIf]="editTable && !timelogs">
          <div class="select">
              <select name="" [(ngModel)]="tbodyRow.role" class="statuses__select role">
                <option [value]='role' *ngFor='let role of roles'>{{role}}</option>
              </select>
          </div>
        </ng-template>
      </td>
      <td>
        <input type="text" [(ngModel)]="tbodyRow.time" [readonly]="!editTable" (change)="changeTotalHourse($event.target)" class="time"><p>h/week</p>
      </td>
      </ng-template>
      <ng-template [ngIf]="timelogs">
        <td>
          <input type="text" [(ngModel)]="tbodyRow.time[0]" [readonly]="!editTable" (change)="changeTotal($event.target,0)">
        </td>
        <td>
          <input type="text" [(ngModel)]="tbodyRow.time[1]" [readonly]="!editTable" (change)="changeTotal($event.target,1)">
        </td>
        <td>
          <input type="text" [(ngModel)]="tbodyRow.time[2]" [readonly]="!editTable" (change)="changeTotal($event.target,2)">
        </td><td>
          <input type="text" [(ngModel)]="tbodyRow.time[3]" [readonly]="!editTable" (change)="changeTotal($event.target,3)">
        </td>
        <td>
          <input type="text" [(ngModel)]="tbodyRow.time[4]" [readonly]="!editTable" (change)="changeTotal($event.target,4)">
        </td>
        <td>
          <input type="text" [(ngModel)]="tbodyRow.time[5]" [readonly]="!editTable" (change)="changeTotal($event.target,5)">
        </td>
        <td>
          <input type="text" [(ngModel)]="tbodyRow.time[6]" [readonly]="!editTable" (change)="changeTotal($event.target,6)">
        </td>
        <td>
          <input type="text" [(ngModel)]="tbodyRow.time[7]" readonly>
        </td>
        <td *ngIf="editTable">
          <i class="material-icons" (click)='removeRecord(i)'>clear</i>
        </td>
      </ng-template>
    </tr>
  </tbody>
  <tfoot>
    <tr *ngIf="editTable && timelogs">
      <td>
        <div class="tfoot__circle" ></div>
      </td>
      <td>
        <input type="text" placeholder="Add new task" class="comment">
      </td>
      <td>
        <input type="text" placeholder="0">
      </td>
      <td>
        <input type="text" placeholder="0">
      </td>
      <td>
        <input type="text" placeholder="0">
      </td><td>
        <input type="text" placeholder="0">
      </td>
      <td>
        <input type="text" placeholder="0">
      </td>
      <td>
        <input type="text" placeholder="0">
      </td>
      <td>
        <input type="text" placeholder="0">
      </td>
      <td>
        <input type="text" placeholder="0" readonly>
      </td>
    </tr>
    <tr *ngIf="editTable && !timelogs">
      <td>
        <div class="tfoot__circle"></div>
      </td>
      <td>
        <div class="select">
            <select name="" class="statuses__select project">
              <option selected class="text-option">Choose Project</option>
              <option [value]='project' *ngFor='let project of projects'>{{project}}</option>
            </select>
        </div>
      </td>
       <td>
        <div class="select">
            <select name="" [(ngModel)]="roles[0]" class="statuses__select role">
              <option [value]='role' *ngFor='let role of roles'>{{role}}</option>
            </select>
        </div>
      </td>
      <td>
        <input type="text" placeholder="0" class="time"><p>h/week</p>
      </td>
    </tr>
    <tr>
      <ng-template [ngIf]="timelogs">
        <td></td>
        <td class="total">{{totalText}}</td>
        <td>{{total[0]}}</td>
        <td>{{total[1]}}</td>
        <td>{{total[2]}}</td>
        <td>{{total[3]}}</td>
        <td>{{total[4]}}</td>
        <td>{{total[5]}}</td>
        <td>{{total[6]}}</td>
        <td>{{total[7]}}</td>
      </ng-template>
      <ng-template [ngIf]="!timelogs">
        <td class="total" colspan="3">{{totalText}}</td>
        <td>{{totalHourse}}h/week</td>
      </ng-template>
    </tr>
  </tfoot>
</table>
